<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelloWorldApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelloWorldApp.styles.css" asp-append-version="true" />
</head>
<body>
    <div id="app"></div>

    <!-- Angular App's JS Bundle -->
    <script src="~/runtime.js" defer></script>
    <script src="~/polyfills.js" defer></script>
    <script src="~/main.js" defer></script>
    <script src="~/styles.css"></script>
</body>
</html>
